.line-bottom {
    border-bottom: 1px solid #545454; 
    opacity: .7;
    margin: 0;
    border: none;
    background-color: #545454;
    height: 1px;
}

@media screen and (min-width: 1024px) {
    .line-bottom  {
        max-width: 880px;
        margin: auto;
    }
}