.popup__save-change {
    padding: 14px;
    background-color: #000;
    color: #fff;
    margin-top: 15px;
    border: none;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 122%;
}

.popup__save-change:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .popup__save-change {
        padding: 16px;
        margin-top: 14px;
        font-weight: 400;
        font-size: 18px;
        line-height: 122%;
    }
}